*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(../source/img/backgrounds/colores2.jpg);
}

//mixin
@mixin textos($font-family,$size,$color){
    font-family: $font-family;
    font-size: $size;
    color: $color;
}

p{
    @include textos($mainFont,$textSize,$secondaryColor);
}

h1,h2{
    font-family: $mainFont;
    font-size: $headSize;
    color: $mainColor;
    margin-bottom: 30px;
}

.header__img--fluid{
    width: 100%;
}

//extend en página de recetas
.main__section{
    width: 70%;
    height: auto;
    margin: 40px auto;
    padding: 40px 30px;   
}

.main__section1{
    @extend .main__section;
    width: 100%;
}


.pie{
    text-align: center;
    font-family: $mainFont;
    font-size: $pieSize;
    color: black;
    margin-top: 5rem;
    padding: 10px 50px;
}

.pie__icon--sm{
    height: 30px;    
}


.text-center{
    text-align: center;
}

.form{
    font-family: $mainFont;
    font-size: $textSize;
    padding-left: 30px;
}

.figure__figcaption{
    text-align: center;
    font-family: $mainFont;
    margin-bottom: 20px;
    font-size: $textSize;
}


//extend img en página nosotros
.img{
    display: flex;
    align-items: center;
    justify-items: space-between;
    height: auto;
}

.img1{
    @extend .img;
    height: 428px;
}


.justify-content{
    justify-content: center;
}
    

/* animacion en la página de planes en h1 y en videos*/
.scale:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;
    text-decoration: none;
    list-style: none;
}


.formulario{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.bg-pink{
    background-color: $buttonColor;
}