//colores
$mainColor: rgb(236, 102, 205);
$secondaryColor: rgb(49, 47, 47);
$navColor: rgb(241, 203, 236);
$buttonColor: rgb(235, 163, 218);

//fonts
$mainFont:'Roboto', sans-serif;
$secondaryFont:'Open Sans', sans-serif;

//sizes
$textSize: 20px;
$headSize: 2rem;
$pieSize: 15px;